*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.back{
    background: #383838;
    min-height: 100vh;
    width: 100%;
    color: white;
    position: relative;
}
.menu{
    background: #383838;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    z-index:100;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 8%;
}
nav .logo_img{
    width: 130px;
    margin-right: 20px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    font-size: 20px;
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    text-decoration: none;
    color: lightgreen;
}
.about-us{
    padding-top: 100px;
    padding-left: 100px;
}
.assignments{
    padding-top: 100px;
    padding-left: 100px;
}
.assignments ul li {
    list-style: none;
}
.project{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}