*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    nav ul {
        display: flex;
        overflow: scroll;
        margin-left: 25px;
    }
    nav ul ::-webkit-scrollbar {
        display: none;
    }
}
html {
    scroll-behavior: smooth;
}
.back{
    background: #383838;
    min-height: 100vh;
    width: 100%;
    color: white;
    position: relative;
}
.menu{
    background: #383838;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    z-index:100;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 7%;
}
nav .logo_img {
    margin-right: 20px;
    cursor: pointer;
    height: 55px;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    font-size: 20px;
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white; /*#003366*/
}
nav ul li a:hover{
    text-decoration: none;
    color: #CCCCCC;
}
.about-us{
    padding-top: 100px;
    padding-left: 100px;
}
.assignments{
    padding-top: 100px;
    padding-left: 100px;
}
.assignments ul li {
    list-style: none;
}
.project{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    color: black;
}
a {
    color: black;
}
a:hover{
    color: blue;
}
.logo_sketch{
    height: 240px;
}
.logo_site{
    margin-left: 50px;
    height: 240px;
    background-color: #383838;
}
.logo_letras{
    margin-left: 50px;
    height: 240px;
    background-color: #383838;
}
.logo_bandeira{
    margin-top: 50px;
    height: 240px;
}