*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.menu{
    background: white;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    z-index:100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2vw;
}
nav .logo_img {
    cursor: pointer;
    height: 55px;
}
nav .menu-right .lupa {
    cursor: pointer;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
nav .menu-right .mapa {
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
nav .menu-right .userIcon {
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
.background {
    position: relative;
    text-align: center;
    color: white;
}
/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: white;
}

/* Navigation links */
.navbar a {
    float: left;
    font-size: 18px;
    color: #47525E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 30px;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    margin-left: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    color: #47525E;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #eee;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    padding-left: 250px;
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0 8px 6px -6px #444;
}

.subnav-content1 {
    margin-left: 100px;
}

.subnav-content2 {
    margin-left: 218px;
    margin-top: 55px;
}

.subnav-content3 {
    margin-left: 330px;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: #47525E;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}
.leftarrow{
    height: 50px;
    width: 50px;
}
.rightarrow{
    height: 50px;
    width: 50px;
}
.feedboard {
    margin-top:4%;
    font-size: 15px;
    display: inline-box;
}
.feed{
    margin-top:2%;
}
.feed h1{
    margin-left: 1%;
}
.suggestedPeople{
    padding-bottom: 1%;
    margin-bottom: 2%;
    background-color: #eee;
}
.suggestedPlaces{
    padding-bottom: 1%;
    margin-bottom: 2%;
    background-color: #eee;
}
.suggestedPeople h1{
    margin-left:3%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.suggestedPlaces h1{
    margin-left:3%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.suggestionBoxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.suggestionBoxes img{
    height: 50px;
    width: 50px;
}
.box{
    height:300px;
    width:250px;
    border-style: dashed;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

