*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.menu{
    background: white;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    z-index:100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2vw;
}
nav .logo_img {
    cursor: pointer;
    height: 55px;
}
nav .menu-right .lupa {
    cursor: pointer;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
nav .menu-right .mapa {
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
nav .menu-right .userIcon {
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
.background {
    position: relative;
    text-align: center;
    color: white;
}
.ponte25deabril {
    background-position: center;
    width: 100%;
}
.welcome {
    position: absolute;
    color: #47525E;
    margin-top: 125px;
    margin-left: 910px;
    font-size: 80px;
}
.cont {
    text-align: center;
}
.por {
    position: absolute;
    color: #006602;
    margin-top: 195px;
    margin-left: 915px;
    font-size: 110px;
}
.tugal {
    position: absolute;
    color: #FF0000;
    margin-top: 195px;
    margin-left: 1112px;
    font-size: 110px;
}
.background .gotomap {
    top: 35.5%;
    left: 76%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    background-color: #003366; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}
footer{
    min-height:100px; 
    background:white;
    font-size: 25px;
    margin-top: 20px;
}
.ptFlag{
    margin-left: 34%;
    margin-bottom: 20px;
    width: 100px;
}
.follow-us{
    margin-top: 10px;
    position: absolute;
    margin-left: 42%;
}
.icons1{
    position: absolute;
    height: 50px;
    margin-top: 40px;
    margin-left: 3%;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: white;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 18px;
    color: #47525E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 30px;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    margin-left: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    color: #47525E;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #eee;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    padding-left: 250px;
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 0 8px 6px -6px #444;
  }

  .subnav-content1 {
    margin-left: 100px;
  }

  .subnav-content2 {
    margin-left: 218px;
    margin-top: 55px;
  }

  .subnav-content3 {
    margin-left: 330px;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: #47525E;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }