*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.menu{
    background: white;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    z-index:100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2vw;
}
nav .logo_img {
    cursor: pointer;
    height: 55px;
}

nav .menu-right{
  display: flex;
  align-items: center;
}

nav .menu-right .lupa {
    cursor: pointer;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
nav .menu-right .mapa {
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}
nav .menu-right .userIcon {
    margin-left: 25px;
    cursor: pointer;
    height: 35px;
    border-radius: 50%;
    /* filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%); */
}
.background {
    position: relative;
    text-align: center;
    color: white;
}
.ponte25deabril {
    background-position: center;
    width: 100%;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}
.welcome {
    color: #47525E;
    width: 90%;
}

.welcome-link {
  position: absolute;
  top: 100px;
  margin-left: 56%;
}

.cont {
    text-align: center;
}
.background .gotomap {
    background-color: #003366; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}
footer{
    min-height:100px; 
    background:white;
    font-size: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    padding-bottom: 15px;
}
.ptFlag{
    width: 100px;
}
.icons1{
    height: 50px;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: white;
  }
  
/* Navigation links */
.navbar a {
  float: left;
  font-size: 18px;
  color: #47525E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 30px;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  margin-left: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  color: #47525E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #eee;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
  box-shadow: 0 8px 6px -6px #444;
}

.subnav-content1 {
  display: flex;
  justify-content: center;
}

.subnav-content2 {
  display: flex;
  justify-content: center;
}

.subnav-content3 {
  display: flex;
  justify-content: center;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: #47525E;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}


/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
  text-align: center;
  right: -23px;
}

.dropdown-content b {
  font-size: 18px;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p {
  color: dimgray;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .userName {
  padding-top: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid dimgray;
}

.dropdown-content .userName .uIcon-Menu{
  margin-top: 16px;
  border-radius: 100%;
  width: 70px;
}

.dropdown-content .profMenu a{
  font-size: 14px;
  padding: 8px 16px;
  color: dimgray;
}


