*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.upperMenu {
    /* background-color: lightblue; */
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.upperMenu .pratoCheio {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3.46vw;
    width: 130px;
    border-radius: 50%;
}

.upperMenu .upperMenu-left {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.upperMenu .upperMenu-left .upperMenu-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.upperMenu .upperMenu-left .upperMenu-text .title-row {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.upperMenu .upperMenu-left .upperMenu-text .detail-row {
    display: flex;
    column-gap: 60px;
}

.upperMenu .upperMenu-left .upperMenu-text .detail-row .image-text {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.upperMenu .name {
    font-size: 22px;
    color: #003366;
    font-weight: bold;
}

.upperMenu .stars{
    width: 140px;
}

.upperMenu .marker {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .location {
    font-size: 18px;
    color: #003366;
}

.upperMenu .clock {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .schedule {
    font-size: 18px;
    color: #003366;
}

.upperMenu .phone {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .phoneNumber {
    font-size: 18px;
    color: #003366;
}

.upperMenu .www {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .link {
    font-size: 18px;
    color: #003366;
} 

.follow {
    height: 50px;
    width: 150px;
    margin-right: 3.46vw;
    background-color: #003366; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}

.lowerMenu {
    background-color: #C8E7FF;
    height: 100vh;
    display: flex;
    column-gap: 10px;
}

.lowerMenu .lowerRight {
    display: flex;
    flex-direction: column;
}

.lowerMenu .lowerLeft {
    display: flex;
    flex-direction: column;
}

.lowerMenu .lowerRight .images {
    display: flex;
    column-gap: 5px;
}

.lowerMenu .weatherThursday {
    /*position: absolute;*/
    /*float: right;*/
    width: 26.9vw;
    /*margin-top: 7px;
    margin-left: 1110px;*/
    margin-top: 10px;
}

.lowerMenu .averageVisitors {
    /*position: absolute;*/
    /*float: right;*/
    width: 26.9vw;
    /*margin-top: 130px;
    margin-left: 1100px;*/
}

.lowerMenu .gallery{
    font-size: 22px;
    /*position: absolute;*/
    margin-top: 12px;
    /*margin-left: 1.46vw;*/
    background-color: white;
    height: 280px;
    /*width: 1030px;*/
    color: #003366;
    padding-top: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.lowerMenu .lowerRight .gallery .gallery-slider {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.lowerMenu .gallery .gallery1 {
    /*margin-top: 10px;*/
    /*position: absolute;*/
    height: 200px;
    /*padding-left: 80px;*/
} 

.lowerMenu .gallery .gallery2 {
    /*margin-top: 10px;
    margin-left: 220px;*/
    /*position: absolute;*/
    height: 200px;
    /*padding-left: 80px;*/
    max-width: 340px;
    width: 300px;
} 

.lowerMenu .gallery .gallery3 {
    /*margin-top: 10px;
    margin-left: 570px;*/
    /*position: absolute;*/
    height: 200px;
    /*padding-left: 80px;*/
} 

.lowerMenu .comments {
    /*position: absolute;*/
    /*height: 400px;
    width: 1030px;*/
    background-color: white;
    /*margin-top: 310px;
    margin-left: 50px;
    padding-left: 80px;*/
    border-radius: 50px;
    /*margin-left: 1.46vw;*/
    margin-top: 20px;
}

.lowerMenu .comments .commentsTitle{
    font-size: 22px;
    color: #003366;
    padding-top: 15px;
    border-radius: 50px;
    padding-left: 25px;
}

.lowerMenu .comments .commentSection {
    width: 870px;
    font-size: 15px;
    /*margin-top: 15px;*/
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-radius: 50px;
    margin: 10px 20px;
}

.lowerMenu .gallery .previousButton {
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    /*position: absolute;*/
    /*margin-top: 80px;
    margin-left: 20px;*/
    width: 35px;
    transform:rotate(180deg);
}

.lowerMenu .gallery .nextButton {
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    /*position: absolute;*/
    width: 35px;
    /*margin-top: 80px;
    margin-left: 970px;*/
}

.lowerMenu .gallery .galleryTitle{
    margin-left: 80px;
    font-weight: bold;
}