*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.upperMenu {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.upperMenu .pratoCheio {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3.46vw;
    width: 130px;
    border-radius: 50%;
    border: 1px solid #bebebe;
}

.upperMenu .upperMenu-left {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.upperMenu .upperMenu-left .upperMenu-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.upperMenu .upperMenu-left .upperMenu-text .title-row {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.upperMenu .upperMenu-left .upperMenu-text .detail-row {
    display: flex;
    column-gap: 40px;
}

.upperMenu .upperMenu-left .upperMenu-text .detail-row .image-text {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.upperMenu .name {
    font-size: 22px;
    color: #003366;
    font-weight: bold;
}

.upperMenu .stars{
    width: 140px;
}

.upperMenu .marker {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .location {
    font-size: 18px;
    color: #003366;
}

.upperMenu .clock {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .schedule {
    font-size: 18px;
    color: #003366;
}

.upperMenu .phone {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .phoneNumber {
    font-size: 18px;
    color: #003366;
}

.upperMenu .www {
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
}

.upperMenu .link {
    font-size: 18px;
    color: #003366;
} 

.follow {
    height: 50px;
    width: 150px;
    margin-right: 3.46vw;
    background-color: #003366; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}

.follow.followed {
    background-color: #ffffff; 
    border: solid 1px #003366;
    color: #003366;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}

.lowerMenu {
    background-color: #C8E7FF;
    height: 100vh;
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.lowerMenu .lowerRight {
    display: flex;
    flex-direction: column;
}

.lowerMenu .lowerLeft {
    display: flex;
    flex-direction: column;
}

.lowerMenu .lowerRight .images {
    display: flex;
    column-gap: 5px;
}

.lowerMenu .weatherThursday {
    width: 26.9vw;
    margin-top: 10px;
    cursor: pointer;
}

.lowerMenu .averageVisitors {
    width: 26.9vw;
}

.lowerMenu .gallery{
    font-size: 22px;
    margin-top: 12px;
    background-color: white;
    height: 280px;
    color: #003366;
    padding-top: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.lowerMenu .lowerRight .gallery .gallery-slider {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.lowerMenu .gallery .gallery1 {
    height: 200px;
    width: 15.38vw;
    max-width: 200px;
} 

.lowerMenu .gallery .gallery2 {
    height: 200px;
    max-width: 300px;
    width: 23.08vw;
} 

.lowerMenu .gallery .gallery3 {
    height: 200px;
    max-width: 300px;
    width: 23.08vw;
} 

.lowerMenu .comments {
    background-color: white;
    border-radius: 50px;
    margin-top: 20px;
}

.lowerMenu .comments .commentsTitle{
    font-size: 22px;
    color: #003366;
    padding-top: 15px;
    border-radius: 50px;
    padding-left: 25px;
}

.lowerMenu .comments .commentSection {
    width: 66.92vw;
    max-width: 870px;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-radius: 50px;
    margin: 10px 20px;
}

.lowerMenu .gallery .previousButton {
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    width: 35px;
    transform:rotate(180deg);
}

.lowerMenu .gallery .nextButton {
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    width: 35px;
}

.lowerMenu .gallery .galleryTitle{
    margin-left: 80px;
    font-weight: bold;
}

.submmit-comment {
    filter: invert(12%) sepia(95%) saturate(2346%) hue-rotate(196deg) brightness(91%) contrast(102%);
    width: 25px;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.comment-area {
    display: flex;
    align-items: center;
    position: relative;
}

.realComment {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 25px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.comment-image {
    border-radius: 50px;
}