*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.upperMenu {
    /* background-color: lightblue; */
    margin-top: 80px;
}
.upperMenu .pratoCheio {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 110px;
    width: 130px;
    border-radius: 50%;
}

.upperMenu .name {
    position: absolute;
    margin-left: 270px;
    margin-top: 35px;
    font-size: 22px;
    color: #003366;
}

.upperMenu .stars{
    margin-top: 31px;
    margin-left: 420px;
    position: absolute;
    width: 140px;
}

.upperMenu .marker {
    position: absolute;
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    margin-top: 80px;
    margin-left: 25px;
}

.upperMenu .location {
    position: absolute;
    margin-left: 310px;
    margin-top: 88px;
    font-size: 18px;
    color: #003366;
}

.upperMenu .clock {
    position: absolute;
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    margin-top: 80px;
    margin-left: 200px;
}

.upperMenu .schedule {
    position: absolute;
    margin-left: 490px;
    margin-top: 88px;
    font-size: 18px;
    color: #003366;
}

.upperMenu .phone {
    position: absolute;
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    margin-top: 80px;
    margin-left: 420px;
}

.upperMenu .phoneNumber {
    position: absolute;
    margin-left: 710px;
    margin-top: 88px;
    font-size: 18px;
    color: #003366;
}

.upperMenu .www {
    position: absolute;
    height: 35px;
    filter: invert(14%) sepia(28%) saturate(6196%) hue-rotate(195deg) brightness(91%) contrast(102%);
    margin-top: 80px;
    margin-left: 630px;
}

.upperMenu .link {
    position: absolute;
    margin-left: 920px;
    margin-top: 88px;
    font-size: 18px;
    color: #003366;
}

.follow {
    margin-top: 30px;
    margin-left: 1220px;
    position: absolute;
    background-color: #003366; 
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}

.lowerMenu {
    background-color: #C8E7FF;
    height: 100vh;
}

.lowerMenu .weatherThursday {
    position: absolute;
    float: right;
    width: 400px;
    margin-top: 7px;
    margin-left: 1110px;
}

.lowerMenu .averageVisitors {
    position: absolute;
    float: right;
    width: 400px;
    margin-top: 130px;
    margin-left: 1100px;
}

.lowerMenu .gallery{
    font-size: 22px;
    position: absolute;
    margin-top: 12px;
    margin-left: 50px;
    background-color: white;
    height: 280px;
    width: 1030px;
    color: #003366;
    padding-top: 15px;
    padding-left: 80px;
    border-radius: 50px;
}

.lowerMenu .gallery .gallery1 {
    margin-top: 10px;
    position: absolute;
    height: 200px;
} 

.lowerMenu .gallery .gallery2 {
    margin-top: 10px;
    margin-left: 220px;
    position: absolute;
    height: 200px;
} 

.lowerMenu .gallery .gallery3 {
    margin-top: 10px;
    margin-left: 570px;
    position: absolute;
    height: 200px;
} 

.lowerMenu .comments {
    position: absolute;
    height: 400px;
    width: 1030px;
    background-color: white;
    margin-top: 310px;
    margin-left: 50px;
    padding-left: 80px;
    border-radius: 50px;
}

.lowerMenu .comments .commentsTitle{
    font-size: 22px;
    color: #003366;
    padding-top: 15px;
    border-radius: 50px;
}

.lowerMenu .comments .commentSection {
    width: 870px;
    font-size: 15px;
    margin-top: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-radius: 50px;
}