*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    display: inline-block;
    width:100%;
}

.mainpage{
    width: 70%;
    background: white;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 3%;
}

nav .logo_img {
    cursor: pointer;
    height: 55px;
}

.loginmenu {    
    position: relative;
    text-align: center;
}

.sidebar{
    width: 30%;
}