*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    width:100%;
    height: 100%;
    margin: 0;
}

.mainpage{
    width: 70%;
    background: white;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 3%;
}

nav .logo_img {
    cursor: pointer;
    height: 55px;
}

.loginmenu {    
    position: relative;
    text-align: center;
}

.sidebar{
    background-image: url("../../images/loginbackground.png");
    width: 30%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sidebar h1{
    color: white;
    font-size: 37px;
}

.sidebar p{
    color: white;
    font-size: 18px;
}
.signup{
    background-color: white; 
    border: none;
    color: #003366;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}

.signup a {
    text-decoration: none;
    color: #003366;
}

.mainpage .loginmenu .socials{
    width: 170px;
}

.login{
    background-color: #003366; 
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
    margin-top: 15px;
}

.login a {
    color: white;
    text-decoration: none;
}

.inputLogin {
    border: 0px;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 15px 40px;
    text-align: center;
}



