.side-menu {
    margin-top: 80px;
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #C8E7FF;
    text-align: center;
} 
.side-menu .search input[type=text] {
    border-radius: 30px;
    height: 50px;
    width: 90%;
    position: relative;
    padding: 6px;
    border: none;
    margin-top: 15px;
    padding-left: 80px;
    font-size: 17px;
    text-align: left;
}
.side-menu .search .lupa {
    top: 25px;
    left: 45px;
    position: absolute;
    cursor: pointer;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(640%) hue-rotate(171deg) brightness(91%) contrast(85%);
}

.side-menu .filter-wrapper {
    background-color: white;
    border-radius: 25px;
    margin: 4% 3%;
}

.side-menu .filter-wrapper.off {
    display: none;
}

.side-menu .filter-wrapper .filter {
    display: flex;
    align-items: center;
    height: 63%;
    cursor: pointer;
}

.side-menu .filter-wrapper .filter .filter-image {
    height: 50px;
}

.side-menu .add-marker-wrapper {
    background-color: white;
    border-radius: 25px;
    margin: 4% 3%;
    height: 70%;
    display: none;
}

.side-menu .add-marker-wrapper.on {
    display: block;
}

.close-wrapper {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 90px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #dceeff;
}

.close-wrapper .close-icon {
    font-size: 20px;
}

.add-marker {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    background-color: #003366; 
    border: none;
    color: white;
    padding: 15px 50px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
}